<form action=<%= events_path %> method="post">
  <label for="title">Event Name</label>
  <input type="text" name="event-name" id="event-name-field" class="" value="" />
  <label for="title"></label>
  <input type="text" name="title" id="title-field" class="" value="" />
  <button name="Submit">Create Event</button>
</form>
