<form action=<%= calendars_path %> method="post">
  <label for="title">Calendar Name</label>
  <input type="text" name="calendar-name" id="calendar-name-field" class="" value="" />
  <label for="title"></label>
  <input type="text" name="title" id="title-field" class="" value="" />
  <button name="Submit">Create Calendar</button>
</form>
